<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="XA.Extensions.Foundation.Serialization" description="" dependencies="">
          <targetDataStore physicalRootPath="$(sourceFolder)\Foundation\serialization\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">

            <include name="Feature.Settings" database="master" path="/sitecore/system/Settings/Feature/XA Extensions">
              <exclude children="true" />
            </include>
            
            <include name="Feature.Media" database="master" path="/sitecore/media library/Feature/XA Extensions">
              <exclude children="true" />
            </include>

          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>