<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <processors>
      <uiGetMasters>
        <processor patch:after="*[@type='Sitecore.Pipelines.GetMasters.GetItemMasters,Sitecore.Kernel']" type="XA.Extensions.Foundation.RenderingVariants.Processors.UiGetMasters.GetItemMasters, XA.Extensions.Foundation.RenderingVariants" />
      </uiGetMasters>
    </processors>
    <pipelines>
      <getVariants>
        <processor patch:instead="*[@type='Sitecore.XA.Foundation.Variants.Abstractions.Pipelines.GetVariants.GetSiteVariants, Sitecore.XA.Foundation.Variants.Abstractions']" type="XA.Extensions.Foundation.RenderingVariants.Pipelines.GetVariants.GetSiteVariants, XA.Extensions.Foundation.RenderingVariants" resolve="true" />
      </getVariants>
    </pipelines>
  </sitecore>
</configuration>

  