<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="XA.Extensions.Feature.ToolboxSearchBox" description="" dependencies="XA.Extensions.Foundation.Serialization" patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(sourceFolder)\Feature\ToolboxSearchBox\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Media" database="master" path="/sitecore/media library/Feature/XA Extensions/ToolboxSearchbox"/>
            <include name="Settings" database="master" path="/sitecore/system/Settings/Feature/XA Extensions/ToolboxSearchbox"/>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>