<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <settings>
            <setting name="XA.Extensions.Feature.Search.CachableSearchController" value="50MB" />
        </settings>
        <events>
            <event name="publish:end">
                <handler type="XA.Extensions.Feature.Search.EventHandlers.SearchControllerCacheClearer, XA.Extensions.Feature.Search" method="OnPublishEnd" />
            </event>
            <event name="publish:end:remote">
                <handler type="XA.Extensions.Feature.Search.EventHandlers.SearchControllerCacheClearer, XA.Extensions.Feature.Search" method="OnPublishEnd" />
            </event>
        </events>
    </sitecore>
</configuration>
