<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.0" targetFramework="net46" />
  <package id="Microsoft.Net.Compilers" version="1.0.0" targetFramework="net46" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="Sitecore.Kernel.NoReferences" version="9.0.180604" targetFramework="net48" developmentDependency="true" />
  <package id="Sitecore.XA.Feature.Search" version="10.2.0" targetFramework="net48" />
  <package id="Sitecore.XA.Foundation.Abstractions" version="10.2.0" targetFramework="net48" />
  <package id="Sitecore.XA.Foundation.Caching" version="10.2.0" targetFramework="net48" />
  <package id="Sitecore.XA.Foundation.Search" version="10.2.0" targetFramework="net48" />
</packages>